<div class="gameContainer">
	<span *ngIf="previousScore">Previous Score: {{ previousScore }} / {{ allTiles.length }}</span>
	<span *ngIf="currentTile">Card {{ currentIndex + 1 }} of {{ allTiles.length }}</span>
	<div *ngIf="!currentTile">
		<div>
			<input type="checkbox" id="test" name="test" [checked]="testMode" (change)="testMode = !testMode" />
			<label for="test">test mode</label>
		</div>
		<div>
			<input
				type="checkbox"
				id="hiragana"
				name="hiragana"
				[checked]="hiraganaMode"
				(change)="hiraganaMode = !hiraganaMode"
			/>
			<label for="hiragana">ひらがな Hiragana</label>
		</div>
		<div>
			<input
				type="checkbox"
				id="katakana"
				name="katakana"
				[checked]="katakanaMode"
				(change)="katakanaMode = !katakanaMode"
			/>
			<label for="katakana">カタカナ Katakana</label>
		</div>

		<button (click)="restartGame()">start new game</button>
	</div>
	<app-flash-card-tile
		*ngIf="currentTile"
		[flashCardInfo]="currentTile"
		(answerRevealedEvent)="answerRevealed($event)"
	></app-flash-card-tile>
	<div *ngIf="currentTile && showNextButtons">
		<button class="wrong" (click)="gotItWrongClick()">I got it wrong</button>
		<button class="right" (click)="gotItRightClick()">I got it right</button>
	</div>
</div>
